@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200&display=swap');

*{
    margin: 0;
    padding: 0;
    background-color: #FFFFFF;
    font-family: Nunito;
    font-style: normal;
}
#container{
    width: 100%;
}
#topo{
    background-color: #DF1F1F;
    width: 100%;
    height: 7.68%;
    left: 0;
    top: 0;
}


#logo_principal{
    width: 339;
    height: 100.04px;
    background: #DF1F1F;
}

#slogan{
    background-color: #DF1F1F;
    float: right;
    padding: 30px;
    color: #FFFFFF;
    font-weight: 600;
    font-size: 32px;
    line-height: 44px;
    display: flex;
    align-items: center;
}


.clear{
clear: both;
}

#corpo{
    width: 100%;
    height: 70%;
}

#lateral_esquerda{
    float: left;
    width: 40%;
    text-align: center;
    padding: 2.5px;
}

#lateral_direita{
    float: left;
    width: 50%;
    text-align: center;
    margin: 4%;
}

#corpo #lateral_esquerda #textoDeEntrada img{
    width: 60%;
    padding-left: 100px;
    padding-top: 125px;
    padding-bottom: 100px;
    text-align: center;
}

#corpo #lateral_esquerda .botoes_entrada button{
    width: 221px;
    height: 71.04px;
    left: 55px;
    top: 518px;
    background: #32A492;
    border-radius: 15px; 
    margin: 10px 25px 10px 25px;
    border: none; 
}

#corpo #lateral_esquerda .botoes_entrada h1{
    background-color: #32A492;
    font-family: Nunito;
    font-style: normal;
    font-weight: 600;
    font-size: 32px;
    line-height: 44px;
    color: #FFFFFF;
    
}

#corpo #lateral_direita img{
    padding-top: 12.6%;
    width: 90%;
}

#rodape{
    background-color: #DF1F1F;
    width: 100%;
    height: 50px;
    left: 0px;
    top: 0px;
    text-align: right;
}

#rodape h2{
    padding: 10px;
    background-color: #DF1F1F;
    font-weight: 600;
    font-size: 15px;
    line-height: 44px;
    color: #FFFFFF;
}